# .github/gentoo-ci

name: Create and publish a Docker image for CI

on:
  workflow_dispatch:
  schedule:
    - cron: "3 2 * * *" 
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "xavierforestier/gentoo-ci"

jobs:
  build-and-push:
    name: Build docker image, and push in ghcr.io
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          repository: ${{ env.IMAGE_NAME }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Delete old images
        uses: snok/container-retention-policy@v2
        with:
          image-names: '*'
          cut-off: 1 month ago UTC
          keep-at-least: 3
          timestamp-to-use: created_at
          account-type: personal
          token: ${{ secrets.GH_PAT }}
          
  readme:
    name: Update README.md
    runs-on: ubuntu-latest
    needs: build-and-push
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Update README
      run: |
        git config --global --add safe.directory /__w/gentoo-ci/gentoo-ci
        git fetch
        git switch main
        emerge -q eix
        eix-update
        cp README.md .header
        head .header -n `grep '## Provided packages' .header -n | cut -d: -f1` > README.md
        rm .header
        EIX_LIMIT=0 NAMEVERSION="\\n   * <version> <use0>" eix -I --format '* <category>/<name>: <description> <installedversions:NAMEVERSION>\n' >> README.md
        git config --local user.name "xavier.forestier"
        git config --local user.email "{ID}+{username}@users.noreply.github.com"
        git add README.md
        git commit -m "[CI]Update status" || true
        git push
