name: Test
on: 
  workflow_dispatch:
  workflow_call:
jobs:
  readme:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    - name: df
      run: |
        df
        du -sh /*
        du -sh /var/*
        
